body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
.custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}
.card-main {
  box-shadow: 2px 2px 3px 0px rgb(204, 204, 204); 
  min-height: 580px; 
}

.custom-tooltip {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px 0px rgb(204, 204, 204);
  text-align: center;
  padding: 1px 3px;
  border-radius: 2px;
}
.label {
   font-size: 0.8rem
}

.data {
  font-size: 0.8rem;
  font-weight: bold;
}
